<div class="col">
    <h1 class="mb-5">Главная</h1>
    <div class="filter-block mb-5 d-flex gap-3 align-items-center flex-wrap">
        <button type="button" class="btn btn-outline-secondary" id="today">Сегодня</button>
        <button type="button" class="btn btn-outline-secondary" id="week">Неделя</button>
        <button type="button" class="btn btn-outline-secondary" id="month">Месяц</button>
        <button type="button" class="btn btn-outline-secondary" id="year">Год</button>
        <button type="button" class="btn btn-outline-secondary active" id="all">Все</button>
        <button type="button" class="btn btn-outline-secondary" id="interval">Интервал</button>

        <div class="d-inline-block">
            <div class="d-inline-block me-3 text-black">c</div>
            <div class="d-inline-block  me-3" id="date-from-block">
                <span id="label-date-from" class="border-bottom border-secondary text-secondary">Дата</span>
            </div>

            <div class="d-inline-block me-3 text-black">по</div>
            <div class="d-inline-block" id="date-to-block">
                <span id="label-date-to" class="border-bottom border-secondary text-secondary">Дата</span>
            </div>
        </div>
    </div>
    <div class="content-page d-flex">
        <div class="pie-block text-center">
            <h2 class="mb-3">Доходы</h2>
            <div class="pie" id="income-container">
                <canvas id="pieChartExpense"></canvas>
            </div>
        </div>
        <div class="line"></div>
        <div class="pie-block text-center">
            <h2 class="mb-3">Расходы</h2>
            <div class="pie" id="expense-container">
                <canvas id="pieChartIncome"></canvas>
            </div>

        </div>
    </div>

</div>

