<div class="col">
    <h1 class="mb-5">Главная</h1>
    <div class="filter-block mb-5 d-flex gap-3 align-items-center flex-wrap">
        <button type="button" class="btn btn-outline-secondary" id="today-btn">Сегодня</button>
        <button type="button" class="btn btn-outline-secondary" id="week-btn">Неделя</button>
        <button type="button" class="btn btn-outline-secondary" id="month-btn">Месяц</button>
        <button type="button" class="btn btn-outline-secondary" id="year-btn">Год</button>
        <button type="button" class="btn btn-outline-secondary active" id="all-btn">Все</button>
        <button type="button" class="btn btn-outline-secondary" id="interval-btn">Интервал</button>

        <div class="d-inline-block">
            <div class="d-inline-block me-3">c</div>
            <label class="border-bottom border-secondary text-secondary position-relative me-3 label-date" for="date-from" id="label-date-from">
                Дата
                <input type="date" id="date-from" class="d-none position-absolute input-date">
            </label>
            <div class="d-inline-block me-3">по</div>
            <label class="border-bottom border-secondary text-secondary position-relative label-date" for="date-to" id="label-date-to">
                Дата
                <input type="date" id="date-to" class="d-none position-absolute input-date">
            </label>
        </div>
    </div>

    <div class="content-page d-flex">
        <div class="pie-block text-center">
            <h2 class="mb-3">Доходы</h2>
            <div class="pie" id="expense-container">
<!--                <canvas id="pieChartExpense"></canvas>-->
            </div>
        </div>
        <div class="line"></div>
        <div class="pie-block text-center">
            <h2 class="mb-3">Расходы</h2>
            <div class="pie" id="income-container">
<!--                <canvas id="pieChartIncome"></canvas>-->
            </div>

        </div>
    </div>

</div>

