<h1 class="mb-5">Редактирование дохода/расхода</h1>
<form>
    <select class="form-select mb-3 custom-select" id="select-type">
        <option value="1">Расход</option>
        <option value="2">Доход</option>
    </select>
    <select class="form-select mb-3 custom-select" id="select-category">
        <option>Категория...</option>
    </select>
    <input type="text" class="form-control password mb-3" placeholder="Сумма в $..." id="amount">
    <input type="date" class="form-control password mb-3" placeholder="Дата..." id="date">
    <input type="text" class="form-control password mb-3" placeholder="Комментарий..." id="comment">
</form>
<div>
    <button type="button" class="btn bg-success text-white me-2" id="save-btn">Сохранить</button>
    <button type="button" class="btn bg-danger text-white" id="cancel-btn">Отмена</button>
</div>