<a href="#/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <img class="ms-4 mt-4" src="images/logo.svg" alt="логотип">
</a>
<hr>
<ul class="nav nav-pills mb-auto flex-column">
    <li class="nav-item">
        <a href="#/" class="nav-link active sidebar-link" aria-current="page" id="main-link">
            <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="images/icons/bootstrap-icons.svg#house"/>
            </svg>
            Главная
        </a>
    </li>
    <li>
        <a href="#/income-expenses" class="nav-link sidebar-link" id="income-expenses-link">
            <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="images/icons/bootstrap-icons.svg#cash-coin"/>
            </svg>
            Доходы & Расходы
        </a>
    </li>

    <li class="rounded-2 overflow-hidden categories">
        <button class="categories-btn btn btn-toggle d-inline-flex align-items-center border-0 w-100"
                id="categories-btn" data-bs-toggle="collapse" data-bs-target="#home-collapse"
                aria-expanded="false">
            Категории
        </button>
        <div class="categories-items d-none" id="categories-items">
            <ul class="btn-toggle-nav list-unstyled fw-normal">
                <li><a href="#/income"
                       class="d-inline-flex text-decoration-none px-3 py-2 w-100 sidebar-link"
                       id="income-link">Доходы</a></li>
                <li><a href="#/expenses"
                       class="d-inline-flex text-decoration-none px-3 py-2 w-100 sidebar-link"
                       id="expenses-link">Расходы</a></li>
            </ul>
        </div>
    </li>

</ul>

<div class="dropdown">
    <div class="balance fw-medium">Баланс: <span class="change-balance text-primary"
                                                 id="balance">300$</span></div>
    <hr>
    <div class="d-flex align-items-center text-decoration-none">
        <a href="#/logout" id="logout-link"
           class="person-block d-flex align-items-center justify-content-center">
            <svg class="bi pe-none" width="16" height="16">
                <use xlink:href="images/icons/bootstrap-icons.svg#person"/>
            </svg>
        </a>
        <div id="profile">
            RomanChernov
        </div>
    </div>

</div>
<div class="b-example-divider b-example-vr"></div>