<div class="d-flex align-items-center py-4 bg-body-tertiary vh-100">
    <div class="w-50 m-auto">
        <form class="text-center">
            <img class="mb-5" src="images/logo.svg" alt="логотип">
            <h1 class="mb-3 fw-medium">Создайте аккаунт</h1>

            <div class="form-floating mb-2 name-block">
                <input type="text" class="form-control name" id="name" placeholder="ФИО">
                <label class="label" for="name">ФИО</label>
            </div>

            <div class="form-floating mb-2 email-block">
                <input type="email" class="form-control email" id="email" placeholder="Электронная почта">
                <label class="label" for="email">Электронная почта</label>
            </div>
            <div class="form-floating mb-2 password-block">
                <input type="password" class="form-control password" id="password" placeholder="Password">
                <label class="label" for="password">Пароль</label>
            </div>

            <div class="form-floating password-block">
                <input type="password" class="form-control password" id="confirm-password" placeholder="Подтверждение пароля">
                <label class="label" for="confirm-password">Подтверждение пароля</label>
            </div>

            <button class="btn btn-primary w-100 my-4" type="submit"  id="process">Войти</button>
            <div class="mb-3 text-start text-black">
                Уже есть аккаунт? <a href="/#/login">Войдите в систему</a>
            </div>
        </form>
    </div>
</div>

