<div class="d-flex align-items-center py-4 bg-body-tertiary vh-100">
    <div class="col-md-6 col-8 m-auto">
        <form class="text-center" id="enter-form">
            <img class="mb-5" src="images/logo.svg" alt="логотип">
            <h1 class="mb-3 fw-medium">Создайте аккаунт</h1>
            <div class="input-group mb-3 form-floating">
                <button class="btn border-0 d-flex align-items-center justify-content-center input-btn" type="button">
                    <svg class="bi pe-none" width="16" height="16">
                        <use xlink:href="images/icons/bootstrap-icons.svg#person"/>
                    </svg>
                </button>
                <input type="text" class="form-control" placeholder="ФИО" id="name">
                <label class="label" for="name">ФИО</label>
            </div>

            <div class="mb-3 text-danger text-start d-none">Может содержать только русские буквы и пробелы, каждое слово
                с большой буквы
            </div>

            <div class="input-group mb-3 form-floating">
                <button class="btn border-0 d-flex align-items-center justify-content-center input-btn" type="button">
                    <svg class="bi pe-none" width="16" height="16">
                        <use xlink:href="images/icons/bootstrap-icons.svg#envelope-open"/>
                    </svg>
                </button>
                <input type="text" class="form-control" placeholder="Электронная почта" id="email">
                <label class="label" for="email">Электронная почта</label>
            </div>

            <div class="mb-3 text-danger text-start d-none">Некорректный адрес электронной почты</div>

            <div class="input-group mb-3 form-floating">
                <button class="btn border-0 d-flex align-items-center justify-content-center input-btn" type="button"
                        id="button-addon1">
                    <svg class="bi pe-none" width="16" height="16">
                        <use xlink:href="images/icons/bootstrap-icons.svg#lock"/>
                    </svg>
                </button>
                <input type="password" class="form-control" placeholder="Password" id="password">
                <label class="label" for="password">Пароль</label>
            </div>

            <div class="mb-3 text-danger text-start d-none">Пароль должен быть не менее 8 символов, содержать как
                минимум 1 букву в верхнем регистре и как минимум 1 цифру
            </div>

            <div class="input-group mb-3 form-floating">
                <button class="btn border-0 d-flex align-items-center justify-content-center input-btn" type="button">
                    <svg class="bi pe-none" width="16" height="16">
                        <use xlink:href="images/icons/bootstrap-icons.svg#lock"/>
                    </svg>
                </button>
                <input type="password" class="form-control" placeholder="Подтверждение пароля" id="confirm-password">
                <label class="label" for="password">Подтверждение пароля</label>
            </div>

            <!--            <button class="btn btn-primary w-100 my-4" type="submit" id="process">Войти</button>-->
            <button class="btn btn-primary w-100 my-4" type="submit" id="process" disabled>Войти</button>
            <div class="mb-3 text-start text-black">
                Уже есть аккаунт? <a href="/#/login">Войдите в систему</a>
            </div>
        </form>
    </div>
</div>

