.btn.input-btn {
    width: 58px;
    background-color: #CED4DA;
}

.input-btn svg {
    fill: #6C757D;
}

.form-floating.name-block::before {
    background-image: url('../images/icons/person.svg');
}

.form-floating > .label {
    left: 70px;
}

@media (max-width: 998px) {
    .col-8 {
        width: 75% !important;
    }

    #content.p-5 {
        padding: 0 !important;
    }
}

@media screen and  (max-width: 769px) {
    .col-8 {
        width: 90% !important;
    }
}

