.table thead tr th {
    color: #052C65;
}

.table-block {
    overflow-x: scroll;
}

.btn-icon:hover svg {
    fill: red;
}

.item {
    max-width: 350px;
    width: 100%;
}

select.custom-select::-ms-expand {
    display: none;
}

select.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
}

@media screen and  (max-width: 998px) {
    .item {
        max-width: 320px;
    }
}

@media screen and  (max-width: 769px) {
    .item {
        max-width: 270px;
    }
}

