* {
    color: #052C65;

}

.nav-pills .nav-link.active svg {
    fill: #ffffff;
}

.nav-pills .nav-link svg {
    fill: #052C65;
}

.arrow {
    margin-left: 70px;
}

.dropdown-toggle::after {
    display: none;
}

.person-block {
    width: 36px;
    height: 36px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-right: 16px;
}

.person-block svg {
    fill: #6C757D;

}

.nav-pills a.nav-link,
a,
div {
    color: #052C65;
}

.btn.categories-btn {
    position: relative;
    font-size: 14px;
    color: #052C65;
    /*border: none;*/
}



.btn.categories-btn:hover,
.btn.categories-btn.active {
    background-color: #0D6EFD;
    color: #ffffff;
    border-radius: 3px 3px 0 0;
}

.categories:has(.btn.categories-btn.active) {
    border: 1px solid #0D6EFD;

}

.categories-btn::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 58px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    background-image: url("../images/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.categories-btn:hover::after {
    background-image: url("../images/icons/arrow-white.svg");
    top: 0;
    transform: rotate(-90deg);
}

.active.categories-btn::after {
    top: 0;
    transform: translateY(0);
    background-image: url("../images/icons/arrow-white.svg");
}

.categories-items {
    display: none;
}

.categories-items ul li a {
    color: #052C65;
}

.categories-items.show {
    display: block;
}

.categories-items ul li a:hover {
    background-color: #0D6EFD;
    color: #ffffff;
}




.pie-block {
    max-width: 440px;
}

.pie {
    padding: 0 84px;

}

.filter-block button {
    width: 100px;
}

.date-input-wrapper {
    position: relative;
    display: inline-block;
}

.input-date {
    left: 0;
}

.label-date {
    cursor: pointer;
}